!/src/other/calc.ipynb
!/out/212.synctex.gz
!/out/alt_issue_1.synctex.gz
!/out/alt_issue_2.synctex(busy)

!/out/alt_issue_2.synctex.gz
!/out/analysis.synctex(busy)
!/out/debut.synctex.gz
!/out/genphys2.synctex.gz
!/out/romanian.synctex.gz
!/out/term2.synctex.gz
